body {
  background-color: rgb(24, 26, 26);
  font-family: "Inconsolata", monospace; 
}

.thumbnails {
  width: 400px;
  height: 150px;
  border-radius: 17px;
  margin: 15px 12px 11px 0px;
  object-fit: contain;
  object-position: center;
  transition: width 0.25s, opacity 0.15s;
  opacity: 1;
  display: inline-block;
  vertical-align: top;
}

.thumbnails:hover {
  opacity: 0.37;
  cursor: pointer;
  width: 405px;
}

.thumbnails:active {
  opacity: 0.28;
}

.filmName {
  color: rgb(106, 53, 156);
  width: 300px;
  display: inline-block;
  margin-left: 9px;
}

.movieTitlepair {
  width: 300px;
  display: inline-block;
  margin-bottom: 15px;
}

.searchBar {
  display: block;
  margin-bottom: 20px;
}

p {
  color: white;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}